*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #fff;
}

header{
    background-color: #222222;
}

.nav-and-hero-container{
    width: 70%;
    margin: 0 auto;
}

.navBar-data-container{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.navLogoText{
    font-size: 36px;
    color: #E6533C;
    font-style: italic;
    font-weight: 700;
}

.navBar-data-container  nav  ul {
    display: flex;
    gap: 20px;
    border: 1px solid gray;
    padding: 12px 12px 12px 4px;
    border-radius: 50px;
}

.navBar-data-container  nav  ul li {
    list-style: none;
}

.navBar-data-container  nav  ul li a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#navBar-home-text{
    background-color: #E6533C;
    padding: 9px 25px;
    border-radius: 40px;
}

/* hero section start */
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.hero-title-text{
    font-size: 78px;
}

.hero-title-shape-text{
    font-style: italic;
}

.hero-sub-title-text{
    color: #bab3b3;
    margin: 28px 0;
}

.hero-btn-container{
    display: flex;
    gap: 16px;
}

.hero-btn{
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    border: none;
}

#hero-btn1{
    background-color: #E6533C;
}

#hero-btn2{
    border: 1.7px solid #fff;
    background: transparent;
}

.image-workout-and-video-tutorial-container{
    position: relative;
}


.free-workout-videos-container{
    width: 250px;
    background-color: #393939;
    padding:23px;
    border-radius: 20px;
    position: absolute;
    top: 15.5%;
    right: -36%;
}

.free-workout-number{
    font-size: 40px;
    font-weight: 700;
}

.free-workout-text{
    color: #bab3b3; 
    margin-top: 7px;
}


.video-tutorial-data-container{
    width: 250px;
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #393939;
    padding:23px;
    border-radius: 20px;
    position: absolute;
    bottom: 11%;
    right: 73%;
}

.rounded-image{
    width: 50px;
    height: 50px;
    background-color: #E6533C;
    border-radius: 99%;
}

.video-tutorial-number{
    font-size: 30px;
    font-weight: 700;
}

.video-tutorial-text{
    color: #bab3b3;
    margin-top: 7px;
}